<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDiLXgvikVizeSXDovMJgWd9dHR_l6xh2g</string>
	<key>GCM_SENDER_ID</key>
	<string>141822640831</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bewe.edupact</string>
	<key>PROJECT_ID</key>
	<string>edupact-c963e</string>
	<key>STORAGE_BUCKET</key>
	<string>edupact-c963e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141822640831:ios:6e2b41bbbb5c4bf9197c0a</string>
</dict>
</plist>